p{
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
    top: 5px;
    transition: transform 0.2s;
       
}

p:hover, svg:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.2);
}

svg{
    font-weight: bold;
    margin-left: 35px;
    position: relative;
    top: 4px;
    transition: transform 0.2s;
}

.search{
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 35px;
    top: 35px;
    z-index: 999;
}