
h1, .texto2{
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

h2{
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

h5{
    margin-left: 10px;
    margin-top: 10px;
}

img{
    height: 160px;
    width: 160px;   
}

svg{
    bottom: 35px;
    position: fixed;
    right: 35px;
}

svg:hover{
    cursor: pointer;
}

.izquierda{
    bottom: 35px;
    left: 35px;
    position: fixed;
}

.tarjeta{
    align-items: center;
    background-color:  #ebd5ad;
    border-radius: 15px;
    border: black 1.5px solid;
    display: flex;
    float: left;
    height: 270px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 30px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    width: 270px;
}

.cajaTarjeta:hover .tarjeta{
    transform: scale(1.1) rotateY(180deg);
}

.parteDelantera{
    backface-visibility: hidden;
    position: absolute;
}

.parteTrasera{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info  {
    margin-left:10px ;
}